.App {
  text-align: center;
}

/* Breweries */
.breweries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.breweries .brewery {
  position: relative;
  width: 25%;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 70px 30px 30px;
  text-align: left;
}

.breweries .brewery h3 {
  margin: 0;
}

.breweries .brewery button {
  position: absolute;
  right: 20px;
  top: 20px;

  background: transparent;
  border: 1px solid #eee;
  box-shadow: none;
  padding: 10px 15px;
}

.breweries .brewery button:hover {
  cursor: pointer;
}

/* Nav */
.nav {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 20px;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  border: 1px solid #999;
  padding: 10px 15px;
}